body{
    width: 100vw;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    background: #eee;
}

.bg{
    width: 75vw;
    height: 75vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px;
}

div{
    display: flex;
    flex-wrap: wrap;
}
input{
    width: 40px;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 2px black solid;
}

h2{
    margin: 10px;
}

p{
    margin: 10px;
    font-size: 20px;
}
