body {
  font-family: Arial, sans-serif;
  /* background: rgb(214, 215, 219); */
  background: url(wallpaper.jpg) center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  cursor: default;
  overflow: hidden;
}

#textbox {
  width: 20vw;
  height: 5vh;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 15px;
  margin: 15px;
}

.Keresett{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  flex-wrap: wrap;
}

h2 {
  margin: 0;
}

.weather-container {
  display: flex;
  /* background: rgb(247, 246, 249, 0.1); */
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 90vw;
  height: 80vh;
  align-items: center;
}

.left-panel,
.right-panel {
  height: 100%;
  padding: 20px;
}

.left-panel {
  flex: 1;
  text-align: start;
  background-color: rgba(255, 255, 255, 0.5);
  height: 80vh;
  padding: 0;
  margin: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  border-radius: 15px 0 0 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 40px;
}

.right-panel {
  border-radius: 0 15px 15px 0;
  /* background-color: rgb(247, 246, 249); */
  /* background-color: rgba(255, 255, 255, 0.2); */
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.week-forecast {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.day {
  background: white;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  height: 5vh;
  width: 15vw;
  display: grid;
  place-items: center;
  margin: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s all ease-in-out;
}

.day > p,
.highlight > p {
  margin: 0;
}

.highlights {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.highlight {
  margin: 15px;
  width: 15vw;
  height: 5vh;
  display: grid;
  place-items: center;
  transition: 0.5s all ease-in-out;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.hőmérséklet {
  font-weight: normal;
  font-size: 50px;
  margin: 0;
}

.nap {
  margin: 0;
  font-weight: normal;
}

.foszoveg {
  display: flex;
  align-items: center;
  /* justify-content: center ; */
  flex-direction: column;
}

.foszoveg,
.mellekszoveg {
  width: 80%;
  text-align: start;
  margin: 0;
}

.mellekszoveg {
  margin: 0;
}

@media (max-width: 500px) {
  body {
    display: flex;
    align-items: start;
  }

  .weather-container {
    margin-top: 40px;
    height: 70vh;
  }
  .left-panel {
    height: 70vh;
  }

  .highlights {
    border: none;
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .highlight {
    width: 22vw;
    height: 15vh;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .highlight:nth-child(1) {
    display: none;
    opacity: 1;
  }

  .day {
    width: 27vw;
    margin: 5px;
    height: 10vh;
    padding: 0;
    font-size: 15px;
  }

  .highlight > h2 {
    font-size: 15px;
  }

  .week-forecast {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    top: 100%;
    margin-top: 10px;
  }

  .left-panel {
    padding: 0 20px 0 20px;
    align-items: center;
    margin-right: 20px;
  }

  #textbox {
    width: 35vw;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 15px;
  }

  .Keresett{
    margin: 0 auto 0 auto;
  }
}
