*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #1e90ff;
    height: inherit;
}

.bg{
    background-color: white;
    padding: 20px;
    width: 50vw;
    height: 50vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.range{
    display: flex;
    align-items: center;
}

button{
    width: 10vw;
    height: 5vh;
    background-color: dodgerblue;
    border-radius: 20px;
    border: none;
    color: white;
    margin: 0 10px 0 10px ;
}

.x{
    top: 0;
    right: 0;
    color: white;
    font-size: 40px;
    transition: 0.5s all ease;
    position: absolute;
    margin: 30px 30px 0 0;
    text-decoration: none;    
}

.x:hover{
    text-shadow: white 0 0 10px;
}

@media screen and (max-width: 500px) {
    body{
        background: linear-gradient(rgb(0, 0, 47), black, rgb(0,0,47));
    }

    .bg{
        background-color: transparent;
        color: white;
        width: 100%;

    }

    h1{
        width: 100%;
        text-align: center;
    }

    button{
        background-color: darkblue;
        width: 70vw;
        height: 5vh;
        border-radius: 5px;
        margin: 10px 0 10px 0;
    }

    .btns{
        text-align: center;
    }
}